:root{
    --brand : #25A59E;
    --white : #FFFFFF99;
    --orange : #ED8528;
    --black  : #737373;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:"Urbanist", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0 100px;  /* never exceed it */
    overflow-x: hidden;
}



/*Header*/

header{
    height: 100vh;
    max-width: 1440px;
    margin: 50px auto;
    justify-content: space-between;  
}

nav{
    display:flex;
    justify-content: space-between;
    width: 1200;
    height: 33;

}

nav .logo{
    font-family: "Gilda Display", serif;
    font-size: 16px;
    letter-spacing: 10%;
    margin: 0;
    padding:0;
    color: #25A59E;
    font-weight: 600;
    
}

.header-content{
    margin: 150px 0 0 0;
    padding-left: 16px;
    padding-right:16px;
    height: auto;
}

h1{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

h1 span{
    color: #25A59E;
} 


.header-img {
    position: relative;
    max-width: 500px;
    height: 300px; /* give it a fixed height for stacking to work */
    margin: auto;
    padding: 0;
    padding-bottom: 80px;
    margin-top: 40px;
    /*transform: translateY(90px);
    /* optional: prevents overflow */
}

.header-img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

/* Green Blur - bottom layer */
.header-img3 {
    top: -200px;
    height: 500px; /* ensures vertical stretch */
    z-index: 0;
    object-fit: cover; /* push it further up */
    overflow: visible;
    bottom: 0;
}

/* Orange Ellipse - middle layer */
.header-img2 {
    z-index: 2;
    bottom: 0; /* align base */
    width: 25%;
    height: auto; /* expand upward */
    position: absolute;
}

/* Couple Photo - top layer */
.header-img1 {
    z-index: 3;
    bottom: 0;
    width: 90%;
    height: 260px; /* make it taller */
    position: absolute;
}



/*Destination Section*/

.Destination-sec{
   
  
}
.Destination-header{
    margin-top: 60px;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    
}

.header2{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    margin: 15px auto;
}
.header-paragraphs{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #595959;
    margin-top: 30px;
}

.header-paragraphs span{
   
    color: black;
}

.firstset-destination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.secondset-destination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.dest-div{
    width: 370.6666564941406;
    height: 404;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
    padding-left: 16px;
    gap: 28px;
    border-width: 1px;
    border: 1px solid #F2F2F2;
    box-shadow: -55.45px 50.41px 98px 0px #3736640A, 105.45px 50.41px 78.04px 0px #3736640D;
}

.dest-div-para{
    width: 311;
    height: 60;
    padding-right: 4px;
    padding-left: 4px;
    gap: 8px;
}

.dest-div-title{
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;

}

.dest-div-location{
    width: 271px;
    height: 24px;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color:  #595959;

}

.dest-div-location img{
    width: 14px;
    height: 19px;
    top: 2px;
    left: 3.5px;
}


.Dest-img{
    transform: rotate(180deg);
}


/*Why Choose Us Section*/

.WhyUs-Sec{
    margin: 0 auto;
    margin-top: 100px;
}

.WhyUsheader-para{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #595959;
    margin-top: 10px;
    text-align: center;
}

.WhyUs-Cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
}


.WhyUs{
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 30px;
}

.WhyUs h3{
    font-family: "Gilda Display", serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 15px;
    margin-top: 20px;
}

/*------------------WHY US SECTION CARDSS-------------*/


.Card1{
    background: #FFFFFF;
    border-top: 4px solid #25A59E;
}

.Cap1{
    color: #595959;
    
}



.Card2{
    background-color: #25A59E;
    color: white;
}

.Cap2{
    color: #ffffff;
}


.Card3{
    background: #FFFFFF;
    border-top: 4px solid #25A59E;
}

.Cap3{
    color: #595959;
}


.WhyUsCaption{
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0%;
}

.WhyUs-Description{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        height: 100%;
    }
    

.WhyUs-Details{
    margin-top: auto; /* Pushes it to the bottom */
    align-self: flex-end; /* Pushes to the right */
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: #008080;
    cursor: pointer;
}

#With-moredetails{
    color: white;
}


/*----------------------------Services-Section-------------------------*/
.service-section {
    display: flex;
    flex-direction: column;
    
    padding: 3rem 1.5rem;
    text-align: center;
    align-items: center;
}

.service-wordcard h2 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 500;
    color: #222;
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;

}
  
.service-wordcard h2 span {
    color: #25A59E;
}
  
.service-wordcard p {
    font-size: 1rem;
    color: #595959;
    margin-top: 1rem;
    line-height: 1.6;
}
  
.service-wordcard p span {
    color: #25A59E;
    font-weight: 600;
}
  
.service-picture {
    position: relative;
    width: 100%;
    max-width: 400px;
}
  
 .main-image {
    width: 100%;
    z-index: 2;
    position: relative;
}
  
.shape-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;  /* reasonable size on mobile */
    max-width: 95%;
    height: auto;
    z-index: 1;
}


/*------------------------DOCUMENTARY SECTION-------------------------*/

.Documentary-Sec {
    padding: 100px 0;
}

.Documentary-Sec h2{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;     
}  

.documentary-div {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.documentary-div h2 {
    font-size: 2rem;
    margin-bottom: 48px;
}


.documentary-img {
    position: relative;
    width: 100%;
    max-width: 1440px; /* or whatever you want */
    margin: auto;
}

.documentary-img img:first-child {
    width: 100%;
    display: block;
    height: auto;
}

.documentary-img img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; /* or whatever size suits */
    height: auto;
    z-index: 2;
}


/*--------------------------------FOOTER-----------------------------*/

footer{
    padding: 0px;
}
.footer-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer-div h2{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
}

.footer-div button{
    width: 147px;
    height: 54px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    gap: 10px;
    background-color: #25A59E;
    border: none;
    margin-top: 70px;
}

.footer-div button a{
    color: #FFFFFF;
    font-family: "urbanist", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    text-decoration: none;
}

.footer-contactnav{
    display: flex;
    justify-content: space-between;
}

.footer-contactnav ul li{
    padding: 10px;
    margin: 0 10px;
}

.footernav{
    display: flex;
    justify-content: space-between;
}

.footernav ul{
    display: flex;
    margin-top: 100px;
}

.footernav ul li{
    list-style-type: none;
}

.footernav a {
    color: black;
    text-decoration: none;
}

.footer-img{
    display: flex;
}











































































































































































































































/* Styles for tablets */
@media (min-width: 768px) {
    nav .logo{
        font-family: "Gilda Display", serif;
        font-size: 22px;
        letter-spacing: 10%;
        margin: 0;
        padding:0;
        color: #25A59E;
        font-weight: 400px;
        
    }


    h1{
        font-family: "Gilda Display", serif;
        font-weight: 400;
        font-size: 150px;
        letter-spacing: 0%;
        text-align: center;
        margin: 80 0 30 0;
    }

.Destination-header{
        margin-top: 100px;
        padding-top: 40px;
        padding-right: 20px;
        padding-bottom: 80px;
        padding-left: 20px;
        
    }

    .header2{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    }

    .header-paragraphs{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    }

    .header-img {
        position: relative;
        max-width: 500px;
        height: 300px; /* give it a fixed height for stacking to work */
        margin: auto;
        padding: 0;
        padding-bottom: 80px;
        margin-top: 40px;
    }

    .header-img2 {
        width: 25%;  /* Smaller width for large screens */
    }

    .header-img1 {
        width: 70%;
        height: 300px;  /* Adjust height for large screens */
    }
    

    .service-section {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 4rem 5%;
    }
    
    .service-wordcard {
        flex: 1;
    }
    
    .service-picture {
        flex: 1;
        max-width: 500px;
    }
    
    .shape-image {
        width: 500px;
        right: 5%;
    }
    
}


/* Styles for desktops */
@media (min-width: 1024px) {
    nav .logo{
        font-family: "Gilda Display", serif;
        font-size: 28px;
        letter-spacing: 10%;
        margin: 0;
        padding:0;
        color: #25A59E;
        font-weight: 600;
        
    }
    h1{
        font-family: "Gilda Display", serif;
        font-weight: 400px;
        font-size: 159px;
        margin: 80 0 30 0;
        text-align: center;
        
    }

    .header-content{
        margin: 70px 0 0 0;
        padding-left: 16px;
        padding-right:16px;
    }


    .header-img {
        height: 300px;  /* Keep height for large screens */
    }

    .header-img2 {
        width: 25%;  /* Smaller width for large screens */
    }

    .header-img1 {
        width: 70%;
        height: 300px;  /* Adjust height for large screens */
    }


    .Destination-header{
        margin-top: 80px;
        padding-top: 40px;
        padding-right: 20px;
        padding-bottom: 80px;
        padding-left: 20px;
        
    }

    .header2{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    }

    .header-paragraphs{
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    }

    /*Why US SECTION*/

    .whyUs-header p{
        font-family: Urbanist;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;
    }
    


    .WhyUs{
        gap: 40px;
        width: 337px;
        height: 400px;
        padding-top: 28px;
        padding-right: 20px;
        padding-bottom: 32px;
        padding-left: 20px;    
        box-shadow: 10px 26px 150px 0px #4343641A;
        margin: 0px;
    }
    
    .WhyUs h3{
        font-family: "Gilda Display", serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 62px;
        letter-spacing: 0%;
        margin-bottom: 15px;
        margin-top: 20px;
    }


    .service-wordcard h2 {
        font-size: 2.8rem;
    }
    
    .service-wordcard p {
        font-size: 1.1rem;
    }
    
    .shape-image {
        width: 560px;
        right: 3%;
    }
    
    .main-image {
        max-width: 500px;
    }


    .footer-div h2{
        font-family: "Gilda Display", serif;
        font-weight: 400;
        font-size: 72px;
        line-height: 84px;
        letter-spacing: 0%;
    }
    
}